<%- include('header')-%>

<div
  style="height: 100vh"
  class="d-flex flex-row align-items-center justify-content-center"
>
  <form
    action="/sighting/<%= sightingInfo.index %>/edit/?_method=PUT"
    method="POST"
  >
    <h2 class="text-light text-center">REPORT</h2>
    <label for="date_time">Date & Time:</label><br />
    <input
      class="text-center w-100"
      type="text"
      id="date_time"
      name="date_time"
      placeholder="DD/MM/YY HH:MM"
      value="<%=sightingInfo.date_time%>"
    /><br />
    <label for="observation">Observation:</label><br />
    <textarea name="observation" id="observation" cols="30" rows="10">
<%=sightingInfo.observation%></textarea
    >
    <br />
    <label for="city">City:</label><br />
    <input
      class="w-100"
      type="text"
      id="city"
      name="city"
      value="<%=sightingInfo.city%>"
    /><br />
    <label for="state">State:</label><br />
    <input
      class="w-100"
      type="text"
      id="state"
      name="state"
      value="<%=sightingInfo.state%>"
    /><br />
    <label for="shape">Shape:</label><br />
    <input
      class="w-100"
      type="text"
      id="shape"
      name="shape"
      value="<%=sightingInfo.shape%>"
    /><br />
    <label for="duration">Duration:</label><br />
    <input
      class="w-100"
      type="text"
      id="duration"
      name="duration"
      value="<%=sightingInfo.duration%>"
    /><br />
    <label for="summary">Summary:</label><br />
    <textarea name="summary" id="summary" cols="30" rows="4">
<%=sightingInfo.summary%></textarea
    >
    <br /><br />
    <div class="d-flex justify-content-center">
      <input type="submit" value="Submit" />
      <form
        action="/sighting/<%=sightingInfo.index%>?_method=DELETE"
        method="POST"
      >
        <input
          type="submit"
          value="Delete"
          class="button"
          onclick="return confirm('Are you sure you want to permanently delete this sighting report?');"
        />
      </form>
    </div>
  </form>
</div>
<%- include('footer') -%>
