<%- include('header') -%>

      </div>
    </div>
    <table class="table table-dark mt-5">
      <thead><div >
      <th scope="col" colspan="3" class="text-center "><h1>Sightings List</h1></th>

      </div>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Shape</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
         <tr class="d-flex"></tr>
         
        <% for (let i =0; i< uniqueObject.length;i++) {%>
          <td class="col">
            <a href="/sighting/<%=i%>"><%=uniqueObject[i].date_time %></a>
          </td>
          <td class="col"><%=uniqueObject[i].shape %></td>
          <td class="col"><%=uniqueObject[i].city %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/?sort=date_time">Date</a>
    <a class="dropdown-item" href="/?sort=shape">Shape</a>
    <a class="dropdown-item" href="/?sort=city">City</a>
  </div>
</div>
<%- include('footer') -%>

