<%- include('header') -%>
      </div>
    </div>
    <table class="table table-dark mt-5">
      <thead><div class="text-center text-light">
      <th scope="col" colspan="3" class="text-center">Sightings List</th>

      </div>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Shape</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
         <tr class="d-flex"></tr>
        <% for (let i =0; i< sightingInfo.length;i++) {%>
       
          <td class="col">
            <a href="/sighting/<%=i%>"><%=sightingInfo[i].date_time %></a>
          </td>
          <td class="col"><%=sightingInfo[i].shape %></td>
          <td class="col"><%=sightingInfo[i].city %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
<%- include('footer') -%>
