<%- include('header') -%>

    <table class="table table-dark mt-5">
      <thead><div >
      <th scope="col" colspan="3" class="text-center "><h1><%=shape %></h1></th>

      </div>
        <tr>
          <th scope="col">Date & Time</th>
          <th scope="col">State</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
         <tr class="d-flex"></tr>
        <% for(let i=0;i<shapeSorted.length;i++) {%>
       
          <td class="col">
            <a href="/sighting/<%=i%>"><%= shapeSorted[i].date_time%></a>
          </td>
          <td class="col"><%= shapeSorted[i].state%></td>
          <td class="col"><%=shapeSorted[i].city %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    
<%- include('footer') -%>
