<%- include('header') -%>

    <table class="table bg-transparent mt-5">
      <thead><div >
      <th scope="col" colspan="3" class="text-center text-light"><h1><%=shape %></h1></th>

      </div>
        <tr class="text-light">
          <th scope="col">Date & Time</th>
          <th scope="col">State</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody>
         <tr class="d-flex"></tr>
        <% for(let i=0;i<shapeSorted.length;i++) {%>
       
          <td class="col">
            <a href="/sighting/<%=i%>"><%= allMoments[i]%></a>
          </td>
          <td class="col text-light"><%= shapeSorted[i].state%></td>
          <td class="col text-light"><%=shapeSorted[i].city %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    
<%- include('footer') -%>
