<%- include('header') -%>

<div class="mt-5">
  <h1 class="text-center">SIGHTING</h1>
  <h2>Date and Time: <%=sightingInfo.date_time%></h2>
  <br />
  <h2>Observation: <%=sightingInfo.observation %></h2>
  <br />
  <h2>City: <%= sightingInfo.city%></h2>
  <br />
  <h2>State: <%= sightingInfo.state%></h2>
  <br />
  <h2>Shape: <%= sightingInfo.shape%></h2>
  <br />
  <h2>Duration: <%= sightingInfo.duration%></h2>
  <br />
  <h2>Summary: <%= sightingInfo.summary%></h2>
  <br />
</div>
<%- include('footer') -%>
