<%- include('header') -%>
<div>
  <h2 class="mt-5 text-center text-light">Sighting <%= Number(index)+1 %></h2>
</div>
<div class="row text-light">
  <div class="col-6 col-md-12">Date and Time: <%=sightingInfo.date_time%></div>
</div>
<br />
<div class="row text-light">
  <div class="col-12 col-md-12">
    Observation: <%=sightingInfo.observation %>
  </div>
</div>
<br />
<div class="row text-light">
  <div class="col-6 col-md-3">City: <%= sightingInfo.city%></div>
  <div class="col-6 col-md-3">State: <%= sightingInfo.state%></div>
  <div class="col-6 col-md-3">Shape: <%= sightingInfo.shape%></div>
  <div class="col-6 col-md-3">Duration: <%= sightingInfo.duration%></div>
</div>
<br />
<div class="row text-light">
  <div class="col-6 col-md-12">Summary: <%= sightingInfo.summary%></div>
</div>
<br />
<div class="row text-light">
  <div class="col-6 col-md-12">
    Date and Time of Report Submitted: <%= sightingInfo.date_time_report%>
  </div>
</div>
<div class="d-flex justify-content-center" style="width: 100vw">
  <a class="text-dark" href="/sighting/<%=index%>/edit"
    ><button class="btn btn-light mt-5">Edit Report</button></a
  >
</div>

<%- include('footer') -%>
